<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
      Twitter
    {% endblock %}
  </title>
</head>
<body>
    <div class="dashboard">
      {% if user.is_authenticated %}  
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'auth' %}">Sign In/Sign Up</a>  
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
