{% extends "base.html" %}

{% block content %}
  <h1>Twitter</h1>
  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      <textarea name="text"></textarea>
      <button>Create message</button>
    </form>
    {% for message in messages %}
      {{ message.author.username }}
      <pre>{{ message.text }}</pre>
      <i>{{ message.created_at }}</i>
    {% endfor %}
  {% endif %}
{% endblock %}